h1 {
  text-align: center;
  color: #fff;
 

}


#name-two,#name-one , #player1 ,#player2 {
  color: #fff;

}


.grid-items {
  width: 50%;
  height: 336px;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-items>div {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #34495e;
}

.swal2-actions {
  text-align: center;
}

#X, #O  {
  color: #80dfff ;
}





body {
  font-size: 10px;
  font-family: Tahoma, Helvetica, sans-serif;
}

.container{
 display : flex;
 justify-content: center;
 flex-direction: column;
  align-items: center;
}




table td {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px 1px 0 0;
}

table body{

}

table {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
   
}


tbody {
  display: flex;
}

@media  (max-width:700px){
  
  .grid-items{
    width: 100%;
    height: 416px;
  }
  table {
    margin-top: 40px;
  }
  table tbody tr {
    margin-right: 10px;
  } 
  table td{
    border: 0px solid #2c3e50;
  }
  tbody{
    display: flex;
  }
}

